body {
  background-color: aquamarine;
}
.wrapper {
  max-width: 50%;
  margin: auto;
  /* border: 3px solid green; */
}
.accordion-item {
  margin-bottom: 0px;
  overflow: hidden;
  border-top: 1px solid red;
  
}
.wrapper:hover, .accordion-item:hover, .accordion:hover, .close:hover, .input:hover, .mem:hover {
  cursor: pointer;
}
.accordion:hover{
  /* cursor: pointer; */
  /* display: flex;
flex-direction: column; */
} 
.mem {
  padding: 1.5em;
  /* border-top: 1px solid red; */
  /* display: block; */
  display: flex;
align-items: flex-start;
justify-content: space-between;
/* flex-wrap: nowrap; */
/* height: 250px; */
  max-height: 0;
}
img {
  margin-left: 30%;
  margin-right: 50%;
  /* border-top: none; */
  max-height: 0 ;
  overflow: hidden;
  /* transition-duration: 1s; */
  transition: max-height 0.3s;
}

.input {
  /* position: absolute; */
  display: block;
  opacity: 0;
  border: 10px solid #ffffff;
}

.input:checked ~ img {
  transition-timing-function: ease-in-out;
  max-height: 19em;
}

.input:hover ~ img {
  transition-timing-function: ease-in-out;
  max-height: 19em;
  overflow: visible;

}

.close {
  /* margin-left: 95%; */
  margin-top: 0;
  background: none; 
 padding-top: 0%;
  /* border: 0; */
  /* background: none; */
  display: inline-block;
  transition: transform 0.4s ease-in-out;
 
}

.accordion-item:hover .close {
  transform: rotate(90deg);
  transition-timing-function: ease-in-out;
  max-height: 20em;
  
}
h1{
  max-width: 50%;
  margin: auto;
}
